body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  /* margin: 20px; */
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  margin: auto;
}

h1 {
  text-align: center;
}

h2 {
  color: #333;
  margin-top: 20px;
}

pre.code-block {
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 5px;
  overflow-x: auto;
}

.answer-label {
  font-weight: bold;
  color: #0056b3;
  margin-top: 15px;
}

#lab1 li {
  line-height: 1.7em;
}

#lab1 a {
  text-decoration: none;
}

#lab1 a:hover {
  text-decoration: underline;
}

#lab2 p::first-letter {
  font-size: 1.5em;
  font-weight: bold;
  float: left;
  margin-right: 5px;
}
